.header-homepage {
    display: flex;
    align-items: center;
    padding: 0 0 0 36px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
  }
  
  .trangchu{
      font-size: 30px;
      margin-right: 40px;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: black;
  }

  .trangchu img{
    width: 74px;
    height: 57px;
  }
  
  .category{
      font-size: 20px;
      margin-right: 45px;
      font-weight: bold;
      font-family: monospace;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: black;
  }

  .category:hover{
    color: #ffba00;
  }

  .dropdown-user{
    font-size: 20px;
    margin-right: 45px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.trangchu:hover{
  color: #ffffff;
}
.user{
    font-size: 20px;
    margin-right: 50px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.user:hover{
  color: #ffba00;
}
.financial{
  font-size: 20px;
    margin-right: 50px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.financial:hover{
  color: #ffba00;
}

.header-img-user{
 margin: auto;
 margin-left: 50px;
  width: 50px;
  border-radius: 30px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 60px;
  left: 1300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column; 
}

.dropdown-item-1 {
  padding: 10px;
  cursor: pointer;
  display: block; 
  text-decoration: none;
}

.dropdown-item-1:hover{
  color: #ffba00;
}

.dropdown-item-2 {
  padding: 10px;
  cursor: pointer;
  display: block; 
  text-decoration: none;
}

.dropdown-item-2:hover{
  color: #ffba00;
}

.search-button{
  background-color: #ffba00;
  color: #ffffff;
}

