.header-homepage {
    display: flex;
    align-items: center;
    padding: 0 0 0 36px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
  }
  
  .trangchu{
      font-size: 30px;
      margin-right: 40px;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: black;
  }

  .trangchu img{
    width: 80px;
    height: 60px;
    align-items: center;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .category {
    font-size: 18px;
    margin-right: 25px;
    font-weight: bold;
    font-family: system-ui;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

  .category:hover{
    color: #ffba00;
  }

  .dropdown-user{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.trangchu:hover{
  color: #ffffff;
}
.user{
    font-size: 20px;
    margin-right: 50px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.user:hover{
  color: #ffba00;
}
.financial{
  font-size: 20px;
    margin-right: 50px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.financial:hover{
  color: #ffba00;
}

.header-img-user{
 margin: auto;
  width: 50px;
  border-radius: 30px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 60px;
  left: 1300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  padding: 3px;
  flex-direction: column; 
  border-radius: 20px;
}

.dropdown-item-1 {
  padding: 10px;
  cursor: pointer;
  display: block; 
  text-decoration: none;
  color: black;
}

.dropdown-item-1:hover{
  color: #ffba00;
}

.dropdown-item-2 {
  padding: 10px;
  cursor: pointer;
  display: block; 
  text-decoration: none;
  color: black;
}

.dropdown-item-2:hover{
  color: #ffba00;
}

.search-button{
  background-color: #ffba00;
  color: #ffffff;
}

.search-input-header{
  margin-right: 25px;
}

.post-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #ffba00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 115px;
  height: 17px;
}


.notification {
  position: relative;
  display: inline-block;
  margin-right: 25px;
}

.notification-icon {
  width: 42px;
  height: 26px;
  border-radius: 50%;
  margin-left: 18px;
  color: #000000;
}

.notification-dropdown {
  display: none; /* Đặt trạng thái mặc định là ẩn */
  position: absolute;
  left: -100px;
  background-color: #f9f9f9;
  width: 216px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.notification:hover .notification-dropdown {
  display: block;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

.chat-notification .notification .notification-dropdown {
  border-radius: 10px;
}

.chat-notification .notification .notification-dropdown .notification-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-notification .notification .notification-dropdown .notification-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-notification .notification .notification-dropdown .notification-item {
  border: 1px solid gray;
  width: 100%;
  padding: 10px;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: system-ui;
  font-weight: 500;
}



.chat-notification .notification .notification-dropdown .notification-item:hover {
  background-color: #f1f1f1;
}


.chat-notification,
.chat-notification .chat{
  font-size: 20px;
  /* font-weight: bold; */
  font-family: monospace;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.chat-notification .notification .notification-icon:hover,
.chat-notification .chat:hover{
  color: #ffba00;
}

.message-item{
  width: 42px;
  height: 26px;
  border-radius: 50%;
  margin-left: 55px;
  color: #000000;
}

.notification-item.unread {
  font-weight: bold;
}

.notification-item.read {
  font-weight: normal;
}

