/* Sidebar.css */

.site-layout-background {
    background-color: #fff;
}

.site-layout-sidebar {
    background-color: #ffb973 !important;
}

.menu {
    height: 100%;
    background-color: #ffb973;
}
