/* Sidebar.css */

.site-layout-background {
    background-color: white;
}

.site-layout-sidebar {
    background-color: white !important;
    border-right: 0.5px solid black;
    height: auto;
}

.menu {
    height: 100%;
    background-color: white;
}

/* .menu .div {
    padding-top: 100px !important;
} */
